@import "tailwindcss";

:root {
  --background: 210 40% 98%;
  --foreground: 222 47% 4%;
  --primary: 250 65% 65%;
  --border: 217 33% 20%;
}

.dark {
  --background: 222 47% 4%;
  --foreground: 213 31% 91%;
}

.container {
  margin-inline: auto;
  padding-inline: 2rem;
}
